/*universal selector dengan '*' */
* {
    background-color: greenyellow;
}

a.try {
    color: blueviolet;
    font-size: x-large;
    background-color: coral;
}

button {
    color: darkgreen;
    background-color: darkkhaki;
}

h1 {
    text-align: center;
    text-decoration: underline overline solid blueviolet;
    font-size: 150%;
    text-shadow: 1px 1px grey;
}

hr {
    background-color: lightpink;
    height: 2px;
    border: none;
}

p {
    text-align: justify;
    line-height: 1.5;
}

h2 {
    text-align: start;
    font-size: 50px;
    text-decoration: wavy underline purple;
}

a {
    text-decoration: none;
}

h3,h4 {
    text-align: start;
   color: crimson ;
   background-color: wheat;
}

li{
    color: blue;
    text-transform: uppercase;
    
    
}

span {
    color: darkorchid;
}

/* menggunakan atribut id untuk  element selector*/
#list {
    color: black;
    background-image: linear-gradient(to bottom right, red, yellow);
}